@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@100&family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --playStop: running;
}

.stop {
  --playStop: paused;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eaeaf0;
  flex-direction: column;
  gap: 2rem;
}

.container{
  display: grid;
  place-items: center;
}

.semaforo{
  width: 100px;
  height: 200px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  background-color: #2c3e50;
  padding: 10px;
}

.luces-circulo{
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(0, 0,0,0.3);
  position: relative;
  cursor: pointer;
}

.luces-circulo::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-right: 4px solid rgb(255, 255,255,0.6);
  top: 5%;
}

.bg{
  position: relative;
  display: flex;
  width: 350px;
  height: 250px;
  background-color: #eaeaf0;
  border-radius: 20px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, .9), 8px 8px 9px rgba(0, 0, 0, .5);
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sun{
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 40px #ffff5b, 0 0 60px #ffff5b, 0 0 80px #ffff5b, 0 0 100px #ffff5b;
}

.road{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
}

.road::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #0d9e0d;
}

.road::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(90deg, transparent 0, transparent 50%, white 50%, white 100%);
  background-size: 20px;
  animation: animateRoad 2s linear infinite;
  animation-play-state: var(--playStop);
}

span{
  position: absolute;
  color: white;
}

span.car{
  bottom: 13px;
  left: 20px;
  font-size: 7em !important;
  -webkit-text-stroke: 2px #000;
  z-index: 10;
  animation: car .3s linear infinite;
  animation-play-state: var(--playStop);
}

span.people{
  position: absolute;
  font-size: 4em !important;
  z-index: 10;
  right: 5px;
  -webkit-text-stroke: 2px #000;
  bottom: 10px;
  animation: animateCloud 3.5s linear infinite;
  animation-delay: calc(-1s * var(2));
  animation-play-state: var(--playStop);
}

.faixa span{
  position: absolute;
  height: 10px;
  right: 5px;
  border-top: .3rem solid white;
  width: 5rem;
  bottom: calc(.5rem * var(--i));
  animation: animateCloud 3.5s linear infinite;
  animation-delay: calc(-1s * var(2));
  animation-play-state: var(--playStop);
}

span.traffic{
  position: absolute;
  font-size: 4em !important;
  z-index: 9;
  right: 50px;
  -webkit-text-stroke: 2px #000;
  bottom: 80px;
  animation: animateCloud 3.5s linear infinite;
  animation-delay: calc(-1s * var(2));
  animation-play-state: var(--playStop);
  color: gray;
}

span.traffic::before{
  content: '';
  position: absolute;
  z-index: 4;
  left: 25px;
  top: 50px;
  border-left: .5rem solid;
  height: 2.5rem;
  -webkit-text-stroke: 2px #000
}

span.cor{
  width: 5.5px;
  height: 5.5px;
  left: 267.2px;
  border-radius: 50%;
  z-index: 8;
  animation: animateCloud 3.5s linear infinite;
  animation-delay: calc(-1s * var(2));
  animation-play-state: var(--playStop);
}

span.cloud{
    position: absolute;
    top: calc(15px * var(--i));
    left: calc(15px * var(--i));
    font-size: 6em !important;
    -webkit-text-stroke: 2px #000;
    z-index: 1;
    animation: animateCloud 3.5s linear infinite;
    animation-delay: calc(-1s * var(--i));
    animation-play-state: var(--playStop);
}

span.tree{
    position: absolute;
    color: #0d9e0d;
    bottom: 50px;
    font-size: 6em !important;
    z-index: 2;
    animation: animateCloud 7s linear infinite;
    animation-delay: calc(-1s * var(--i));
    animation-play-state: var(--playStop);
}

span.mountain{
    position: absolute;
    color: #8b3c23;
    bottom: 16px;
    font-size: 12em !important;
    animation: animateCloud 15s linear infinite;
    animation-delay: calc(-4s * var(--i));
    animation-play-state: var(--playStop);
}

@keyframes animateRoad {
    from{
        background-position-x: 0;
    }
    to{
        background-position-x: -100%;
    }
}

@keyframes car {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1px);
    }
}

@keyframes animateCloud {
    0%{
        transform: translateX(350px);
    }
    100%{
        transform: translateX(-350px);
    }
}

input {
  display: none;
}

.boxInputs{
  position: relative;
  display: flex;
  gap: 1rem;
}

.boxInputs span{
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 4rem;
  box-shadow: .25rem .5rem 1rem black;
  transition: all ease 300ms;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.boxInputs span.stop{
  background-color: red;
}

.boxInputs span.play{
  background-color: green;
}

.boxInputs span.replay{
  background-color: blue;
  clip-path: none;
}

label:hover{
  box-shadow: none;
}

.boxInit{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.cor.red{
  bottom: 116px;
}

span.cor.yellow{
  bottom: 105px;
}

span.cor.green{
  bottom: 94px;
}

.red{
  background-color: #c0392b;
}
.yellow{
  background-color: #f1c40f;
}
.green{
  background-color: #2ecc71;
}

.red.active{
  box-shadow: 0 0 10px 1px #c0392b;
}
.yellow.active{
  box-shadow: 0 0 10px 1px #f1c40f;
}
.green.active{
  box-shadow: 0 0 10px 1px #2ecc71;
}